* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../media/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
h1 {
	width: 400px;
	text-align: center;
	color: white;
	margin: 40px auto 0 auto;
}
table {
	margin: 20px auto;
}
td {
	height: 22px;
	width: 22px;
	background: linear-gradient(45deg, grey, white);
}
td.active{
	background: linear-gradient(45deg, darkred, black);
}
td.active2{
	background: linear-gradient(45deg, green, black);
}
/*sideways duck*/
td.dot{
	background-image: url(../media/duck1.png);
	width: 60px;
	height: 60px;
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: -15px;
	margin-top: -15px;
}
/*forward duck*/
td.dot2{
	background-image: url(../media/duck2.png);
	width: 60px;
	height: 60px;
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-top: -18px;
}
td.face{
	background-image: url(../media/dennis.png);
	width: 60px;
	height: 60px;
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: -10px;
	margin-top: -10px;
}
td.face2{
	background-image: url(../media/logan.png);
	width: 70px;
	height: 70px;
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: -25px;
	margin-top: -20px;
}

#restart {
	color: white;
	background: linear-gradient(blue, black);
	text-align: center;
	position: relative;
	width: 150px;
	left: 43%;
	margin-top: 20px;
	padding: 5px;
}
#father {
	position: fixed;
	z-index: 1;
	width: 0;
	top: 150px;
	right: 200px;
}
