body {
	background-image: url(../media/0101.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
table {
	margin: 50px auto;
}
tr {
	background: linear-gradient(45deg, grey, white);
	height: 33px;
	width : 25px;
}
td {
	border: 2px solid white;
}

h1 {
	width: 400px;
	text-align: center;
	color: white;
	margin: 20px auto;
}
